* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(255, 237, 237);
}

header{
    background-color: rgb(255, 216, 216);     
    
}


.cabecera__lista{
    color: rgb(161, 14, 14);;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-left: 700px;
}


.h1{
    display: flex;
    flex-direction: row;
    justify-content: left; 
    color: darkred;
    padding-top: 20px;
    padding-left: 30px;
}

.h2{
    display: flex;
    justify-content: center;
}
.H3 {
    color: rgb(119, 29, 29);
    padding-top: 15px;
    padding-left: 15px;
}

.h4{
    background-color: rgba(231, 225, 225, 0.907);
    width: fit-content;
    margin-top: 40px;
}

.h5{
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: darkred;
    padding-left: 43px;
    
    
}

.comentarios{
    margin: 3px;
    padding: 10px;
}

.imagenes { 
    position: relative;
    width: 83vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.imagenes2{
    position: relative;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 240px;
}

.imgnuevo{
    height: 300px;
    width: 350px;
}


.img{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 400px;
    padding-left: 160px;
}




.paragraph {
    font-family: 'Nunito', sans-serif;
    padding-top: 70px;
}


a {
    color: black;
    text-decoration: none;
}


.mapa{
    margin-top: 5px;
}


footer{
    background-color: rgba(231, 225, 225, 0.907);
    text-decoration: overline;
    padding-top: 10px;
}








